.header {
  padding: 40px 0;
  text-align: center;
  letter-spacing: var(--letterspacing-en);
}

.portfolioText {
  font-size: var(--fontsize-en-h3);
  color: var(--color-text-black);
  margin-bottom: 16px;
}

.name {
  font-size: var(--fontsize-en-h1);
  color: var(--color-text-black);
  margin-bottom: 24px;
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 48px;
  font-size: var(--fontsize-en-h3);
  color: var(--color-text-dark);
}

.nav :hover {
  color: var(--color-text-gray);
  cursor: pointer;
}

@media (max-width: 840px) {
  .header {
    padding: 40px 16px;
  }

  .nav {
    gap: 32px;
  }
}
