.card {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 8px;
}

.card:hover {
  /* border: 1px solid var(--color-border-normal); */
  background-color: var(--color-border-light);
}

.thumbnail {
  aspect-ratio: 191/100;
  max-height: 176px;
  border-radius: 4px;
}

.content {
  padding: 32px;
}

.title {
  margin-bottom: 20px;
  color: var(--color-text-black);
}

.date {
  font-size: var(--fontsize-jp-sub);
  color: var(--color-text-dark);
}

@media (min-width: 768px) {
  .card {
    grid-template-columns: 240px 1fr;
  }
}
@media (max-width: 840px) {
  .card {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
  }

  .card:hover {
    background-color: var(--color-background-semiWhite);
  }

  .thumbnail {
    width: 100%;
    max-width: 600px;
    max-height: none;
  }

  .content {
    padding: 16px 0;
  }
  .title {
    margin-bottom: 8px;
  }
}
