.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px 64px;
}

@media (min-width: 768px) {
  .worksGrid {
    grid-template-columns: 1fr;
  }

  .articlesGrid {
    grid-template-columns: 1fr;
  }
}
