.main {
  max-width: 800px;
}

@media (min-width: 768px) {
  .worksGrid {
    grid-template-columns: 1fr;
  }

  .articlesGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 840px) {
  .main {
    width: 100%;
  }
}
