.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-background-gray);
  border-radius: 16px;
  overflow: hidden;
  height: 320px;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.image:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s all;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.9);
  margin: 16px;
  border-radius: 12px;
  position: absolute;
  height: calc(100% - 32px);
  width: 40%;
  left: 0px;
}

.title {
  font-size: var(--fontsize-jp-h4);
  letter-spacing: var(--letterspacing-ja);
  font-weight: 700;
  margin-bottom: 8px;
}

.category {
  font-size: var(--fontsize-ja-sub);
  color: var(--color-text-dark);
}

.titleContainer {
  margin-bottom: 32px;
}

.description {
  font-size: var(--fontsize-ja-sub);
  color: var(--color-text-black);
  line-height: var(--lineheigt-multi);
}

.smallcard {
  height: 200px;
}

.smallTitle {
  font-size: var(--fontsize-jp-normal);
  margin-bottom: 4px;
}

.smallCategory {
  font-size: var(--fontsize-ja-sub);
}

.smallTitleContainer {
  margin-bottom: 0;
}

@media (max-width: 840px) {
  .content {
    width: calc(100% - 32px);
    background-color: rgb(255, 255, 255, 0.75);
  }

  .image:hover {
    transform: scale(1, 1);
  }
}
