.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-background-gray);
  border-radius: 8px;
  overflow: hidden;
  height: 320px;
  position: relative;
}

.imageLarge {
  height: 100%;
  width: 100%;
  position: absolute;
}

.imageLarge:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s all;
}

.imageSmall {
  display: none;
}

.contentLarge {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.9);
  margin: 16px;
  border-radius: 6px;
  position: absolute;
  height: calc(100% - 32px);
  width: 40%;
  left: 0px;
}

.contentSmall {
  display: none;
}

.title {
  font-size: var(--fontsize-jp-h4);
  letter-spacing: var(--letterspacing-ja);
  line-height: var(--lineheigt-multi);
  font-weight: 700;
}

.category {
  font-size: var(--fontsize-ja-sub);
  color: var(--color-text-dark);
  margin-bottom: 8px;
}

.titleContainer {
  margin-bottom: 32px;
}

.description {
  font-size: var(--fontsize-ja-sub);
  color: var(--color-text-black);
  line-height: var(--lineheigt-multi);
}

.smallcard {
  height: 200px;
}

.smallTitle {
  font-size: var(--fontsize-jp-normal);
  margin-bottom: 4px;
}

.smallCategory {
  font-size: var(--fontsize-ja-sub);
}

.smallTitleContainer {
  margin-bottom: 0;
}

@media (max-width: 820px) {
  .contentLarge {
    display: none;
  }

  .contentSmall {
    display: block;
    margin-top: 8px;
  }

  .contentSmall .category {
    margin: 4px 0 0;
  }

  .contentSmall .titleContainer {
    margin: 0;
  }

  .imageLarge {
    display: none;
  }

  .imageSmall {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .image:hover {
    transform: scale(1, 1);
  }
}

@media (max-width: 544px) {
  .card {
    height: 200px;
  }

  .smallcard {
    height: 160px;
  }
}
