.contactBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  font-size: var(--fontsize-en-h3);
  letter-spacing: var(--letterspacing-en);
  color: var(--color-text-black);
  font-weight: 300;
  margin-bottom: 8px;
}

.sectionSubtitle {
  font-size: var(--fontsize-jp-ex);
  color: var(--color-text-dark);
  margin-left: 8px;
}

.emailContainer {
  display: flex;
  gap: 4px;
  margin-bottom: 32px;
}

.email {
  font-size: var(--fontsize-jp-sub);
  color: var(--color-text-dark);
  letter-spacing: 0em;
  text-decoration: underline dotted;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.socialLink {
  text-decoration: none;
}
