.email {
  font-size: 14px;
  color: #666666;
  margin-bottom: 32px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socialLink {
  color: #403f53;
  text-decoration: none;
}

.copyright {
  font-size: 12px;
  color: #666666;
  margin-top: 64px;
}
