.worksGrid {
  display: grid;
  gap: 24px;
}

.worksTop {
  margin-bottom: 48px;
}

.subCategoryName {
  color: var(--color-text-dark);
  margin-bottom: 8px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .worksGrid {
    grid-template-columns: 1fr;
  }
}
