.aboutContent {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.profileImage {
  border-radius: 100;
}

.profileText {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profileName {
  font-weight: 600;
  margin-bottom: 4px;
}

.profileTitle {
  font-size: var(--fontsize-jp-sub);
  color: var(--color-text-dark);
  margin-bottom: 16px;
}

.profileDescription {
  font-size: var(--fontsize-jp-sub);
  color: var(--color-text-black);
  line-height: var(--lineheigt-multi);
  margin-bottom: 16px;
}

.link {
  color: var(--color-text-dark);
  border-bottom: 1px dashed var(--color-text-dark);
}

.link:hover {
  color: var(--color-text-gray);
  border-bottom: 1px dashed var(--color-text-gray);
}

@media (max-width: 840px) {
  .aboutContent {
    flex-direction: column;
  }

  .profileDescription {
    margin-bottom: 0px;
  }
}
