.aboutCard {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 32px;
}

.aboutContent {
  display: flex;
  gap: 32px;
}

.profileImage {
  width: 128px;
  height: 128px;
  background-color: #f8f8fa;
  border-radius: 50%;
  flex-shrink: 0;
}

.profileName {
  font-weight: 500;
  margin-bottom: 16px;
}

.profileDescription {
  font-size: 14px;
  color: #403f53;
  margin-bottom: 16px;
}
