.aboutContent {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profileName {
  font-weight: 600;
  margin-bottom: 16px;
}

.profileDescription {
  font-size: var(--fontsize-jp-sub);
  color: var(--color-text-black);
  line-height: var(--lineheigt-multi);
  margin-bottom: 16px;
}
