.section {
  margin-bottom: 80px;
}

.sectionTitle {
  font-size: var(--fontsize-en-h2);
  letter-spacing: var(--letterspacing-en);
  color: var(--color-text-black);
  margin-bottom: 32px;
  font-weight: 300;
}

.sectionSubtitle {
  font-size: var(--fontsize-jp-sub);
  color: var(--color-text-dark);
}

.contactSection {
  text-align: center;
}
