.section {
  margin-bottom: 96px;
}

.sectionTitle {
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #403f53;
  margin-bottom: 32px;
}

.sectionSubtitle {
  font-size: 14px;
  margin-left: 4px;
}

.contactSection {
  text-align: center;
}
